---
layout: archive
title: ""
permalink: /contact/
author_profile: true
---

{% include base_path %}


<body>

<p><font size="5"><strong> Curriculum Vitae</strong></font></p>

<p><a href="http://Anup-Deshmukh.github.io/files/Anup_Deshmukh_1p.pdf">Download CV here</a>
 <i>**Updated on September 2018!** </i>
</p>


<p><font size="5"><strong>How to reach me?</strong></font></p>

<p><img src="http://Anup-Deshmukh.github.io/files/card2.jpg" style="width:45%"></p>

<p align="justify"> <i>I spend most of my time in the campus main building. Feel free to meet me in person or drop me an email if I could be of any help!</i></p>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
</body>
