---
layout: archive
title: "How to reach me?"
permalink: /contact/
author_profile: true
---

{% include base_path %}

<p><img src="http://Anup-Deshmukh.github.io/files/card2.jpg" style="width:50%"></p>

<p align="justify"> <i>I spend most of my time in the campus main building. Feel free to meet me in person or drop me an email if I could be of any help!</i></p>

<div align=left> <p># visitors on site: <a href='https://www.counter12.com'><img src='https://www.counter12.com/img-95wY93wc2Z684xyY-46.gif' border='0' alt='estatisticas gratis'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=95wY93wc2Z684xyY'></script> </p></div>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

