
#main1 {
    background-color: white;
    width: 100%;
    padding: 7px;
    box-shadow: 3px 7px #F1E5BE;
    border-style: double;
    border-radius: 15px
}


#list2 { width: 100%; }
#list2 ol { 
font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color: #C7BB8F;  }
#list2 ol li { }
#list2 ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:16px; color:#eee; border-left: 1px solid #999; }
#list2 ol li p em { display:block; }

.move {
  font-family: 'Raleway', sans-serif;
  
  font-size: 20px;
  background-color: white;
  color: #C7BB8F
  font-weight: 200;
  font-style: italic;

}


